APP_NAME="BetDay Lite"

# macOS
# openssl rand -base64 32
# Windows can use https://generate-secret.vercel.app/32
AUTH_SECRET="916d51681be813b358f0e170cdd7b063"

DB_USER="user"
DB_NAME="betday-db"
DB_PASSWORD="123456"

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:123456@localhost:5432/betday-db?schema=public"